.GoTop {
	transform: translateY(0%);
	opacity: 1;
	position: fixed;
	bottom: 10%;
	right: 1.5%;
	border: none;
	outline: none;
	background-color: #4691ff;
	color: white;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: all 1s;
	box-sizing: border-box;
}
.TopUsed{
	opacity: 0;
	transform: translateY(100%);
}

.GoTop:hover {
  background-color: #555;
}
.wow {
	visibility: hidden;
}
.about-section {
	padding: 10px;
	text-align: center;
	background-color: #474e5d;
	color: white;
}
.peran {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: -50px;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
    color: #777777;
}
.mainTitle {
	font-family: "Rajdhani", sans-serif;
    font-size: 36px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.peranBottom{
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: -50px;
	margin-bottom: -50px;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
    color: #777777;
}
.FeatureSel{
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 80%;
	padding: 100px 0px;
}
.featureInner{
	display: flex;
	padding: 40px 0px;
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.featuresBox{
	flex: 0 0 25%;
	max-width: 25%;
	text-align: center;
	border-right: 1px solid #9e9e9e;
}
.featuresBox:nth-child(4){
	border-right: none;
}
.FeatureIcon{
	margin-bottom: 10px;
}
.FeatureIcon img{
	width: 40px;
	height: auto;
}
.FIconHover{
	animation: bounce 2s;
	-webkit-animation: bounce 2s;
	-moz-animation: bounce 2s;
	-o-animation: bounce 2s;
	z-index: 100000;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.featuresBox h1{
	font-size: 16px;
}
.featuresBox p{
	color:#9e9e9e;
}
.nav1{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    display: flex;
    background-color: transparent;
    opacity: 0.5;
    justify-content: space-around;
    color: rgb(198, 238, 198);
    height: 0px;
    align-items: center;
    z-index: 2;
	transition: all 0s;
	
}
.navUsed{
	height: 50px;
}
.column {
	font-size: 100%;
  	float: left;
  	width: 25%;
  	margin-bottom: 16px;
  	padding: 0 8px;
	transition: all 0.3s;
}
.columnUsed {
	transform: translateY(-3%);
  	width: 28%;
	font-size: 103%;
}
.columnUnUsed {
  	width: 24%;
	font-size: 99%;
	filter: blur(100%);
	filter: brightness(70%);
	filter: drop-shadow(100%);
	filter: grayscale(70%);
}
.buttonUsed{
	opacity: 0;
	font-size: 100%;
	transition: all 0.3s;
}
.card {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	margin: 8px;
	background-color: white;
}

.container {
  	padding: 0 16px;
}	

.container::after, .row::after {
  	content: "";
  	clear: both;
  	display: table;
}

.title {
  	color: grey;
}

.button {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 8px;
  	color: white;
  	background-color: #000;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
	transition: all 0.3s;
}

.button:hover {
  	background-color: #555;
}
.kirimMail {
  	border: none;
  	outline: 0;
  	display: inline-block;
  	padding: 8px;
  	color: black;
  	background-color: white;
  	text-align: center;
  	cursor: pointer;
  	width: 30%;
}

.kirimMail:hover {
  	background-color: gray;
}
.kritik {
  	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 5%;
	padding-right: 5%;
  	text-align: center;
  	background-color: #474e5d;
  	color: white;
	font-size: 80%;
}
.isikritik{
	font-size: 60%;
}
body {
  	font-family: Arial, Helvetica, sans-serif;
  	margin: 0;
}
*, *:before, *:after {
  	box-sizing: inherit;
}
html {
  	scroll-behavior: smooth;
	box-sizing: border-box;
}
::-webkit-scrollbar {
display: none;
}
.copyr{
	text-align: center;
	font-size: 100%;
	width: 100%;
	background-color: black;
	padding: 1%;
	position: fixed;
	bottom: 0;
	color: darkgray;
	margin: 0;
	z-index: 10000000;
}
.copyrUnused{
	text-align: center;
	font-size: 100%;
	width: 100%;
	background-color: #474e5d;
	padding: 1%;
	color: transparent;
	margin: 0;
}
body{
    position: relative;
    background-image: url("../Main Tab/media/Bg.jpg");
	background-repeat: repeat-y;
	background-size: 150%;
	z-index: -5;
	transition: all 1s;
}
.dark{
	border: none;
	background-color: transparent;
	transition: all 1s;
}
a{
	color: black;
	text-decoration: none;
	transition: all 1s;
}
a:hover{
	color: blue;
	text-decoration: underline;
	transition: all 1s;
	text-shadow: 2px 2px 4px #000000;
}
/* Navbar */
nav{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    display: flex;
    background-color: #4691ff;
    opacity: 0.5;
    justify-content: space-around;
    color: rgb(198, 238, 198);
    height: 50px;
    align-items: center;
    z-index: 2;
	transition: all 1s;
	
}
.sticky {
  	position: fixed;
  	top: 0;
  	width: 100%;
	opacity: 1;
}

nav .logo{
	color: white;
    font-family: 'Libre Caslon Text', serif;
    letter-spacing: 3px;
    font-size: 1.2em;
	transition: all 1s;
}

nav ul{
	align-items: center;
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: flex-end;
	transition: all 1s;
	position: fixed;
	right: 0;
	transform: translateX(-2%);
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
	transition: all 1s;
}

nav ul li a:hover{
    color: black;
	background: #ddd;
}

/* Responsive Breakpoint */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, th, td, tr { 
		font-size: 95%;
		left: 0;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	tr { 
		position: relative;
		
	}
	body {
		background-image: url("../Main Tab/media/Bg_verti.jpg");
		background-size: 300%;
	}
	.columnUsed {
  		width: 25%;
		font-size: 100%;
	}
	.columnUnUsed {
  		width: 25%;
		font-size: 100%;
		filter: none;
	}
	.buttonUsed{
		opacity: 1;
		font-size: 100%;
		transition: all 0.3s;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
	}
	
	td:before { 
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		white-space: nowrap;
	}
	.column{
		width: 50%;
	}
	.textB{
		font-size: 50%;
	}
	.nama{
		font-size: 70%;
	}
	.FeatureSel{
		width: 95%;
	}
	.featureInner{
		padding: 20px 0px;
	}
	.FeatureIcon{
		margin-bottom: 10px;
	}
	.featuresBox h1{
		font-size: 10px;
	}
	.featuresBox p{
		font-size: 9px;
	}
	.mainTitle{
    	font-size: 20px;
	}
	.peran{
		margin-bottom: -30px;
	}
	.peranBottom{
		font-size: 10px;
		margin-top: -30px;
	}
	.FIconHover{
		animation: none;
	}
	.GoTop {
		bottom: 4%;
	}
	.GoTop:hover {
  		background-color: #4691ff;
	}
	}
